.button_color_white {
  background-color: var(--color-white);
  color: var(--color-blue);
  transition: background-color var(--regular-animation), color var(--regular-animation);
}

.button_color_white:hover {
  background-color: var(--color-turquoise);
  color: var(--color-white);
}

.button_color_white:active {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}