.testimonials__button-text {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */


  /* #172B41 */

  color: #172B41;
}