.write-us__icon {
  position: relative;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-us__icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid var(--color-dark-blue);
  opacity: 0;
}

.write-us__icon::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(to right, var(--color-turquoise), var(--color-blue), var(--color-blue)) border-box;
  background-size: 200% 100%;
  -webkit-mask:
    linear-gradient(white 0 0) padding-box,
    linear-gradient(white 0 0);
  -webkit-mask-composite: destination-out;
  transition: background-position var(--regular-animation), opacity var(--regular-animation);
}

.write-us:hover .write-us__icon::after {
  background-position: 100% 50%;
}

.write-us:active .write-us__icon::after {
  opacity: 0;
}

.write-us:active .write-us__icon::before {
  opacity: 1;
}