.layout-3rows__content {
  max-width: calc(var(--content-max-width) + var(--page-side-padding) * 2);
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
  width: 100%;
}