.cases__title {
  margin: 0 0 64px;
  grid-column: 2 / 7;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */


  /* #172B41 */

  color: #172B41;

}