.card__title {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */


  /* #172B41 */

  color: #172B41;
}