.contact-form__fieldset {
  margin: 80px 0 0;
  padding: 0;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(6, calc(96 / 1920 * 100vw));
  column-gap: calc(32 / 1920 * 100vw);
  grid-template-rows: repeat(4, min-content);
  row-gap: 40px;
  border: none;
  justify-items: start;
  align-items: center;
}