.write-us__letter {
  width: 20px;
  height: 16px;
  -webkit-mask-image: url("../../../../assets/icons/letter.svg");
  mask-image: url("../../../../assets/icons/letter.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--color-black);
  transition: background-color var(--regular-animation);
}

.write-us:hover .write-us__letter {
  background-color: var(--color-blue);
}

.write-us:active .write-us__letter {
  background-color: var(--color-dark-blue);
}