.technologies__gallery-item-title {
  margin: 0;
  position: absolute;
  top: 40px;
  left: 40px;


  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */


  /* #868F98 */

  color: #868F98;

}