.burger-menu {
  position: absolute;
  left: 0;
  display: none;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  padding: 40px 40px 24px;
  border: 1px solid var(--color-light-blue);
  box-shadow: 0 16px 32px var(--color-light-blue-alpha);
}