*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-white: rgb(255 255 255 / 100%); /* #FFFFFF */
  --color-black: rgb(23 43 65 / 100%); /* #172B41 */
  --color-light-grey: rgb(250 250 250 / 100%); /* #FAFAFA */
  --color-dark-grey: rgb(134 143 152 / 100%); /* #868F98 */
  --color-blue: rgb(0 102 255 / 100%); /* #0066FF */
  --color-dark-blue: rgb(0 32 201 / 100%); /* #0020C9 */
  --color-turquoise: rgb(5 224 224 / 100%); /* #05E0E0 */
  --animation-duration: 300ms;
  --regular-animation: var(--animation-duration) ease;
  --header-height: 82px;
  --content-max-width: 1504px;
  --page-side-padding: 24px;
}

body,
html {
  height: 100%;
}