.review__slider-card-description {
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */


  /* #172B41 */

  color: #172B41;
}