.welcome .welcome__caption-small {
  color: var(--color-blue);
  grid-area: caption-small;
  margin-bottom: 16px;
}

@media screen and (width < 760px) {
  .welcome .welcome__caption-small {
    margin-bottom: 0;
  }
}