@media screen and (width <= 1150px) {
  .welcome__caption-small.welcome__caption-small-queries {
    font-size: 19px;
  }
}

@media screen and (width <= 970px) {
  .welcome__caption-small.welcome__caption-small-queries {
    font-size: 18px;
  }
}

@media screen and (width <= 760px) {
  .welcome__caption-small.welcome__caption-small-queries {
    font-size: 16px;
    margin-bottom: 0;
  }
}