.welcome .welcome__caption-small {
  grid-area: caption-small;
  margin-bottom: 16px;
}

@media screen and (width <= 1150px) {
  .welcome .welcome__caption-small {
    font-size: 19px;
  }
}

@media screen and (width <= 970px) {
  .welcome .welcome__caption-small {
    font-size: 18px;
  }
}

@media screen and (width <= 760px) {
  .welcome .welcome__caption-small {
    font-size: 16px;
    margin-bottom: 0;
  }
}