.header__link {
  text-decoration: none;
  color: #172B41;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
}