.contact-form__submit-button {
  grid-row: 4;
  grid-column: 1 / span 2;
  white-space: nowrap;
  padding: 20px 24px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  cursor: pointer;

  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* identical to box height, or 25px */

  /* #006EE5 */

  color: #0066FF;
}