.footer__nav-link {
  text-decoration: none;
  white-space: nowrap;

  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */


  /* #868F98 */

  color: #868F98;
}