.footer {
  height: 144px;
  display: flex;
  align-items: center;
}

@media screen and (width < 700px) {
  .footer {
    flex-direction: column;
    gap: 32px;
    padding: 32px var(--page-side-padding);
    height: auto;
  }
}