.footer {
  max-width: calc(var(--content-max-width) + var(--page-side-padding) * 2);
  height: 144px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: var(--page-side-padding);
  padding-right: var(--page-side-padding);
}

@media screen and (width < 700px) {
  .footer {
    flex-direction: column;
    gap: 32px;
    padding: 32px var(--page-side-padding);
    height: auto;
  }
}