.contact-form__terms-and-conditions-text {
  text-align: center;
  margin: 0;
  grid-row: 4;
  grid-column: 3 / 6;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */


  /* #05E0E0 */

  color: #05E0E0;

}