.section__button {
  padding: 20px 24px;
  background: #0066FF;
  border-radius: 8px;
  border: none;
  box-shadow: none;

  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* identical to box height, or 25px */

  color: #FFFFFF;
/* TODO Разобраться с LayOut Grids в фигме и как использовать их в верстке */
}