.card {
  box-sizing: border-box;
  width: calc(480 / 1920 * 100vw);
  padding: calc(40/ 1920 * 100vw);
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  z-index: 10;
}