/* в продакшине не рекомендуется оставлять данный подход к импорту стилей. Лучше все стили запихнуть в один bundle */

@import url("../global-styles/fonts.css");
@import url("../global-styles/global-styles.css");
@import url("../vendor/normalize.css");
@import url("../mixes/page/page.css");
@import url("../mixes/layout-3rows/layout-3rows.css");
@import url("../mixes/layout-3rows/_h-align/layout-3rows_h-align_center.css");
@import url("../mixes/layout-3rows/_no-shrink/layout-3rows_no-shrink.css");
@import url("../mixes/layout-3rows/_v-align/layout-3rows_v-align_top.css");
@import url("../mixes/layout-3rows/__content/layout-3rows__content.css");
@import url("../mixes/text/text.css");
@import url("../mixes/text/_size/text_size_h1.css");
@import url("../mixes/text/_size/text_size_h2.css");
@import url("../mixes/text/_size/text_size_h3.css");
@import url("../mixes/text/_size/text_size_h4.css");
@import url("../mixes/text/_size/text_size_h5.css");
@import url("../mixes/text/_size/text_size_regular.css");
@import url("../mixes/text/_size/text_size_small.css");
@import url("../mixes/text/_size/text_size_large.css");
@import url("../mixes/text/_size/text_size_extra-large.css");
@import url("../mixes/text/_size/text_size_menu-link.css");
@import url("../mixes/text/_size/text_size_menu-link-small.css");
@import url("../mixes/text/_nowrap/text_nowrap.css");
@import url("../mixes/text/_no-margin/text_no-margin.css");
@import url("../mixes/link/link.css");
@import url("../mixes/link/_color/link_color_black.css");
@import url("../mixes/link/_color/link_color_blue.css");
@import url("../mixes/link/_color/link_color_grey.css");
@import url("../mixes/z-index/_position/z-index_position_absolute.css");
@import url("../mixes/z-index/_position/z-index_position_relative.css");
@import url("../mixes/z-index/__main-context/_level/z-index__main-context_level_10.css");
@import url("../blocks/button/button.css");
@import url("../blocks/button/_size/button_size_regular.css");
@import url("../blocks/button/_size/button_size_small.css");
@import url("../blocks/button/_color/button_color_blue.css");
@import url("../blocks/button/_color/button_color_white.css");
@import url("../blocks/main-page/__header-burger/main-page__header-burger.css");
@import url("../blocks/main-page/__header-logo/main-page__header-logo.css");
@import url("../blocks/main-page/__header-margin/main-page__header-margin.css");
@import url("../blocks/main-page/__header-margin/_side/main-page__header-margin_side_left.css");
@import url("../blocks/main-page/__header-margin/_side/main-page__header-margin_side_right.css");
@import url("../blocks/main-page/__header-letter/main-page__header-letter.css");
@import url("../blocks/main-page/__welcome-wrapper/main-page__welcome-wrapper.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__phone/header__phone.css");
@import url("../blocks/header/__menu/header__menu.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__burger/header__burger.css");
@import url("../blocks/header/__letter/header__letter.css");
@import url("../blocks/header/__button/header__button.css");
@import url("../blocks/header/__menu-margin/header__menu-margin.css");
@import url("../blocks/header/__phone-margin/header__phone-margin.css");
@import url("../blocks/header/_burger-menu/header_burger-menu_opened.css");
@import url("../blocks/icon/icon.css");
@import url("../blocks/icon/icons/__letter/icon__letter.css");
@import url("../blocks/icon/icons/__burger/icon__burger.css");
@import url("../blocks/icon/icons/__behance/icon__behance.css");
@import url("../blocks/icon/icons/__dribbel/icon__dribbel.css");
@import url("../blocks/icon/icons/__facebook/icon__facebook.css");
@import url("../blocks/icon/icons/__instagram/icon__instagram.css");
@import url("../blocks/icon/_size/icon_size_regular.css");
@import url("../blocks/icon/_size/icon_size_large.css");
@import url("../blocks/icon/_color/icon_color_black.css");
@import url("../blocks/icon/_color/icon_color_blue.css");
@import url("../blocks/icon/_color/icon_color_grey.css");
@import url("../blocks/icon/__mask/icon_mask.css");
@import url("../blocks/icon/__background/icon__background.css");
@import url("../blocks/icon/__background/_shape/icon__background_shape_circle.css");
@import url("../blocks/icon/__background/_shape/icon__background_shape_rectangle.css");
@import url("../blocks/burger-menu/burger-menu.css");
@import url("../blocks/burger-menu/__footer/burger-menu__footer.css");
@import url("../blocks/burger-menu/__menu/burger-menu__menu.css");
@import url("../blocks/burger-menu/__phone-number/burger-menu__phone-number.css");
@import url("../blocks/burger-menu/__button/burger-menu__button.css");
@import url("../blocks/hr/hr.css");
@import url("../blocks/hr/_no-margin/hr_no-margin.css");
@import url("../blocks/hr/_color/hr_color_light-blue.css");
@import url("../blocks/welcome-wrapper/welcome-wrapper.css");
@import url("../blocks/welcome/welcome.css");
@import url("../blocks/welcome/__content/welcome__content.css");
@import url("../blocks/welcome/__caption-small/welcome__caption-small.css");
@import url("../blocks/welcome/__caption-big/welcome__caption-big.css");
@import url("../blocks/welcome/__caption-big/_color/welcome__caption-big_color_black.css");
@import url("../blocks/welcome/__caption-big/_color/welcome__caption-big_color_blue.css");
@import url("../blocks/welcome/__botton/welcome__button.css");
@import url("../blocks/wlcm-cards/wlcm-cards.css");
@import url("../blocks/wlcm-email/wlcm-email.css");
@import url("../blocks/section/section.css");
@import url("../blocks/section/__button/section__button.css");
@import url("../blocks/section/__button/_size/section__button_size_small.css");
@import url("../blocks/main-content/main-content.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__text-container/intro__text-container.css");
@import url("../blocks/intro/__welcome-text/intro__welcome-text.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/section/__text-decoration/section__text-decoration.css");
@import url("../blocks/testimonials/testimonials.css");
@import url("../blocks/testimonials/__background-text/testimonials__background-text.css");
@import url("../blocks/testimonials/__background-text-container/testimonials__background-text-container.css");
@import url("../blocks/testimonials/__grid-container/testimonials__grid-container.css");
@import url("../blocks/testimonials/__call-to-action-bundle/testimonial__call-to-action-bundle.css");
@import url("../blocks/testimonials/__text/testimonial__text.css");
@import url("../blocks/testimonials/__button/testimonials__button.css");
@import url("../blocks/testimonials/__button-text/testimonials__button-text.css");
@import url("../blocks/cards-grid/cards-grid.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__title-and-icon-bundle/card__title-and-icon-bundle.css");
@import url("../blocks/card/__icon/card__icon.css");
@import url("../blocks/card/__title/card__title.css");
@import url("../blocks/card/__text/card__text.css");
@import url("../blocks/services/services.css");
@import url("../blocks/services/__grid-container/services__grid-container.css");
@import url("../blocks/services/__title/services__title.css");
@import url("../blocks/services/__list/services__list.css");
@import url("../blocks/services/__snippet/services__snippet.css");
@import url("../blocks/services/__snippet/_closed/services__snippet_closed.css");
@import url("../blocks/services/__snippet-first-row/services__snippet-first-row.css");
@import url("../blocks/services/__snippet-first-row/_opened/services__snippet-first-row_opened.css");
@import url("../blocks/services/__snippet-second-row/services__snippet-second-row.css");
@import url("../blocks/services/__snippet-second-row/_closed/services__snippet-second-row_closed.css");
@import url("../blocks/services/__name/services__name.css");
@import url("../blocks/services/__desciption/services__description.css");
@import url("../blocks/services/__service-snippet-button/services__service-snippet-button.css");
@import url("../blocks/services/__service-snippet-button/_open/services__service-snippet-button_open.css");
@import url("../blocks/services/__sub-services-list/services__sub-services-list.css");
@import url("../blocks/services/__sub-service-link/services__sub-service-link.css");
@import url("../blocks/technologies/technologies.css");
@import url("../blocks/technologies/__grid-container/technologies__grid-container.css");
@import url("../blocks/technologies/__title/technologies__title.css");
@import url("../blocks/technologies/__category-fieldset/technologies__category-fieldset.css");
@import url("../blocks/technologies/__radio-input/technologies__radio-input.css");
@import url("../blocks/technologies/__radio-input-label/technologies__radio-input-label.css");
@import url("../blocks/technologies/__fieldset-legend/technologies__fieldset-legend.css");
@import url("../blocks/technologies/__gallery/technologies__gallery.css");
@import url("../blocks/technologies/__gallery-item/technologies__gallery-item.css");
@import url("../blocks/technologies/__gallery-item-title/technologies__gallery-item-title.css");
@import url("../blocks/technologies/__gallery-item-image/technologies__gallery-item-image.css");
@import url("../blocks/cases/cases.css");
@import url("../blocks/cases/__grid-container/cases__grid-container.css");
@import url("../blocks/cases/__title/cases__title.css");
@import url("../blocks/slide/slide.css");
@import url("../blocks/slide/__grid-container/slide__grid-container.css");
@import url("../blocks/slide/__title/slide__title.css");
@import url("../blocks/slide/__title/_theme/slide__title_theme_dark.css");
@import url("../blocks/slide/__bubbles-container/slide__bubbles-container.css");
@import url("../blocks/slide/__bubble/slide__bubble.css");
@import url("../blocks/slide/__column/slide__column.css");
@import url("../blocks/slide/__link-read-more/slide__link-read-more.css");
@import url("../blocks/slide/__description/slide__description.css");
@import url("../blocks/slide/__description/_theme/slide__description_theme_dark.css");
@import url("../blocks/slide/__image/slide__image.css");
@import url("../blocks/slide/__open-button/slide__open-button.css");
@import url("../blocks/slide/_theme/slide_theme_dark.css");
@import url("../blocks/slide/__column/_position/slide__column_position_left.css");
@import url("../blocks/slide/__column/_position/slide__column_position_right.css");
@import url("../blocks/call-to-action/call-to-action.css");
@import url("../blocks/call-to-action/__grid-container/call-to-action__grid-container.css");
@import url("../blocks/call-to-action/__title/call-to-action__title.css");
@import url("../blocks/call-to-action/__description/call-to-action__description.css");
@import url("../blocks/call-to-action/__send-request-button/call-to-action__send-request-button.css");
@import url("../blocks/reviews/reviews.css");
@import url("../blocks/reviews/__grid-container/reviews__grid-container.css");
@import url("../blocks/reviews/__title/reviews__title.css");
@import url("../blocks/reviews/__slider/reviews__slider.css");
@import url("../blocks/reviews/__slider-card/reviews__slider-card.css");
@import url("../blocks/reviews/__slider-card-title/reviews__slider-card-title.css");
@import url("../blocks/reviews/__slider-card-description/review__slider-card-description.css");
@import url("../blocks/reviews/__slider-card-image/reviews__slider-card-image.css");
@import url("../blocks/reviews/__slider-offset/reviews__slider-offset.css");
@import url("../blocks/reviews/__slider-controls/reviews__slider-controls.css");
@import url("../blocks/reviews/__slider-control/reviews__slider-control.css");
@import url("../blocks/reviews/__slider-control/_type/reviews__slider-control_type_previous.css");
@import url("../blocks/reviews/__slider-control/_type/reviews__slider-control_type_next.css");
@import url("../blocks/contact-us/contact-us.css");
@import url("../blocks/contact-us/__grid-container/contact-us__grid-container.css");
@import url("../blocks/contact-us/__title/contact-us__title.css");
@import url("../blocks/contact-us/__subtitle/contact-us__subtitle.css");
@import url("../blocks/contact-us/__side-image/contact-us__side-image.css");
@import url("../blocks/contact-form/contact-form.css");
@import url("../blocks/contact-form/__grid-container/contact-form__grid-container.css");
@import url("../blocks/contact-form/__fieldset/contact-form__fieldset.css");
@import url("../blocks/contact-form/__fieldset-legend/contact-form__fieldset-legend.css");
@import url("../blocks/contact-form/__label/contact-form__label.css");
@import url("../blocks/contact-form/__label-text/contact-form__label-text.css");
@import url("../blocks/contact-form/__input/contact-from__input.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_name.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_company.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_phone.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_email.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_comment.css");
@import url("../blocks/contact-form/__terms-and-conditions-text/contact-form__terms-and-conditions-text.css");
@import url("../blocks/contact-form/__submit-button/contact-form__submit-button.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__caption/footer__caption.css");
@import url("../blocks/footer/__menu/footer__menu.css");
@import url("../blocks/footer/__menu-margin/footer__menu-margin.css");
@import url("../blocks/footer/__social-icons/footer__social-icons.css");
@import url("../blocks/footer/__hr/footer_hr.css");