/* в продакшине не рекомендуется оставлять данный подход к импорту стилей. Лучше все стили запихнуть в один bundle */

@import url("../global-styles/fonts.css");
@import url("../global-styles/global-styles.css");
@import url("../vendor/normalize.css");
@import url("../mixes/page/page.css");
@import url("../blocks/main-content/main-content.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/header/__navigation/header__navigation.css");
@import url("../blocks/header/__links-list/header__links-list.css");
@import url("../blocks/header/__link/header__link.css");
@import url("../blocks/header/__phone/header__phone.css");
@import url("../blocks/header/__action-group/header__action-group.css");
@import url("../blocks/section/section.css");
@import url("../blocks/section/__button/section__button.css");
@import url("../blocks/section/__button/_size/section__button_size_small.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__text-container/intro__text-container.css");
@import url("../blocks/intro/__welcome-text/intro__welcome-text.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/section/__text-decoration/section__text-decoration.css");
@import url("../blocks/testimonials/testimonials.css");
@import url("../blocks/testimonials/__background-text/testimonials__background-text.css");
@import url("../blocks/testimonials/__background-text-container/testimonials__background-text-container.css");
@import url("../blocks/testimonials/__grid-container/testimonials__grid-container.css");
@import url("../blocks/testimonials/__call-to-action-bundle/testimonial__call-to-action-bundle.css");
@import url("../blocks/testimonials/__text/testimonial__text.css");
@import url("../blocks/testimonials/__button/testimonials__button.css");
@import url("../blocks/testimonials/__button-text/testimonials__button-text.css");
@import url("../blocks/cards-grid/cards-grid.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__title-and-icon-bundle/card__title-and-icon-bundle.css");
@import url("../blocks/card/__icon/card__icon.css");
@import url("../blocks/card/__title/card__title.css");
@import url("../blocks/card/__text/card__text.css");
@import url("../blocks/services/services.css");
@import url("../blocks/services/__grid-container/services__grid-container.css");
@import url("../blocks/services/__title/services__title.css");
@import url("../blocks/services/__list/services__list.css");
@import url("../blocks/services/__snippet/services__snippet.css");
@import url("../blocks/services/__snippet/_closed/services__snippet_closed.css");
@import url("../blocks/services/__snippet-first-row/services__snippet-first-row.css");
@import url("../blocks/services/__snippet-first-row/_opened/services__snippet-first-row_opened.css");
@import url("../blocks/services/__snippet-second-row/services__snippet-second-row.css");
@import url("../blocks/services/__snippet-second-row/_closed/services__snippet-second-row_closed.css");
@import url("../blocks/services/__name/services__name.css");
@import url("../blocks/services/__desciption/services__description.css");
@import url("../blocks/services/__service-snippet-button/services__service-snippet-button.css");
@import url("../blocks/services/__service-snippet-button/_open/services__service-snippet-button_open.css");
@import url("../blocks/services/__sub-services-list/services__sub-services-list.css");
@import url("../blocks/services/__sub-service-link/services__sub-service-link.css");
@import url("../blocks/technologies/technologies.css");
@import url("../blocks/technologies/__grid-container/technologies__grid-container.css");
@import url("../blocks/technologies/__title/technologies__title.css");
@import url("../blocks/technologies/__category-fieldset/technologies__category-fieldset.css");
@import url("../blocks/technologies/__radio-input/technologies__radio-input.css");
@import url("../blocks/technologies/__radio-input-label/technologies__radio-input-label.css");
@import url("../blocks/technologies/__fieldset-legend/technologies__fieldset-legend.css");
@import url("../blocks/technologies/__gallery/technologies__gallery.css");
@import url("../blocks/technologies/__gallery-item/technologies__gallery-item.css");
@import url("../blocks/technologies/__gallery-item-title/technologies__gallery-item-title.css");
@import url("../blocks/technologies/__gallery-item-image/technologies__gallery-item-image.css");
@import url("../blocks/cases/cases.css");
@import url("../blocks/cases/__grid-container/cases__grid-container.css");
@import url("../blocks/cases/__title/cases__title.css");
@import url("../blocks/slide/slide.css");
@import url("../blocks/slide/__grid-container/slide__grid-container.css");
@import url("../blocks/slide/__title/slide__title.css");
@import url("../blocks/slide/__title/_theme/slide__title_theme_dark.css");
@import url("../blocks/slide/__bubbles-container/slide__bubbles-container.css");
@import url("../blocks/slide/__bubble/slide__bubble.css");
@import url("../blocks/slide/__column/slide__column.css");
@import url("../blocks/slide/__link-read-more/slide__link-read-more.css");
@import url("../blocks/slide/__description/slide__description.css");
@import url("../blocks/slide/__description/_theme/slide__description_theme_dark.css");
@import url("../blocks/slide/__image/slide__image.css");
@import url("../blocks/slide/__open-button/slide__open-button.css");
@import url("../blocks/slide/_theme/slide_theme_dark.css");
@import url("../blocks/slide/__column/_position/slide__column_position_left.css");
@import url("../blocks/slide/__column/_position/slide__column_position_right.css");
@import url("../blocks/call-to-action/call-to-action.css");
@import url("../blocks/call-to-action/__grid-container/call-to-action__grid-container.css");
@import url("../blocks/call-to-action/__title/call-to-action__title.css");
@import url("../blocks/call-to-action/__description/call-to-action__description.css");
@import url("../blocks/call-to-action/__send-request-button/call-to-action__send-request-button.css");
@import url("../blocks/reviews/reviews.css");
@import url("../blocks/reviews/__grid-container/reviews__grid-container.css");
@import url("../blocks/reviews/__title/reviews__title.css");
@import url("../blocks/reviews/__slider/reviews__slider.css");
@import url("../blocks/reviews/__slider-card/reviews__slider-card.css");
@import url("../blocks/reviews/__slider-card-title/reviews__slider-card-title.css");
@import url("../blocks/reviews/__slider-card-description/review__slider-card-description.css");
@import url("../blocks/reviews/__slider-card-image/reviews__slider-card-image.css");
@import url("../blocks/reviews/__slider-offset/reviews__slider-offset.css");
@import url("../blocks/reviews/__slider-controls/reviews__slider-controls.css");
@import url("../blocks/reviews/__slider-control/reviews__slider-control.css");
@import url("../blocks/reviews/__slider-control/_type/reviews__slider-control_type_previous.css");
@import url("../blocks/reviews/__slider-control/_type/reviews__slider-control_type_next.css");
@import url("../blocks/contact-us/contact-us.css");
@import url("../blocks/contact-us/__grid-container/contact-us__grid-container.css");
@import url("../blocks/contact-us/__title/contact-us__title.css");
@import url("../blocks/contact-us/__subtitle/contact-us__subtitle.css");
@import url("../blocks/contact-us/__side-image/contact-us__side-image.css");
@import url("../blocks/contact-form/contact-form.css");
@import url("../blocks/contact-form/__grid-container/contact-form__grid-container.css");
@import url("../blocks/contact-form/__fieldset/contact-form__fieldset.css");
@import url("../blocks/contact-form/__fieldset-legend/contact-form__fieldset-legend.css");
@import url("../blocks/contact-form/__label/contact-form__label.css");
@import url("../blocks/contact-form/__label-text/contact-form__label-text.css");
@import url("../blocks/contact-form/__input/contact-from__input.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_name.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_company.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_phone.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_email.css");
@import url("../blocks/contact-form/__label/for/contact-form__label_for_comment.css");
@import url("../blocks/contact-form/__terms-and-conditions-text/contact-form__terms-and-conditions-text.css");
@import url("../blocks/contact-form/__submit-button/contact-form__submit-button.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__grid-container/footer__grid-container.css");
@import url("../blocks/footer/__nav-link/footer__nav-link.css");
@import url("../blocks/footer/__nav-links/footer__nav-links.css");
@import url("../blocks/footer/__nav-links-list/footer__nav-links-list.css");
@import url("../blocks/footer/__social-links/footer__social-links.css");