@media screen and (width <= 1150px) {
  .wlcm-email__caption {
    font-size: 36px;
  }
}

@media screen and (width <= 620px) {
  .wlcm-email__caption {
    font-size: 24px;
    line-height: 29px;
  }
}