.contact-form__label-text {
  grid-column: 1;
  grid-row: 1;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */


  /* #FFFFFF */

  color: #FFFFFF;
}