.testimonials__background-text {
  margin: 0;
  white-space: nowrap;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 388px;
  line-height: 120%;
  /* identical to box height, or 466px */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0 0 36px rgba(231, 237, 246, 0.4);
  user-select: none;
}