.testimonials__grid-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1504px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  "cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid cards-grid"
  ". . call-to-action-bundle call-to-action-bundle call-to-action-bundle call-to-action-bundle call-to-action-bundle call-to-action-bundle call-to-action-bundle call-to-action-bundle . .";
  align-items: start;
  justify-content: center;
  column-gap: 32px;
  row-gap: 80px;
}