.welcome {
  background-image: image-set(
    url("../../../assets/images/bg--blue-figures-on-white_large_1x.jpg") 1x,
    url("../../../assets/images/bg--blue-figures-on-white_large_2x.jpg") 2x);
  background-repeat: no-repeat;
  background-position: right;
  height: 1074px;
}