.footer__menu {
  flex-grow: 1;
}

@media screen and (width < 700px) {
  .footer__menu {
    order: 2;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(16px, 12.8%, 48px);
  }
}