.slide__title {
  grid-column: 7 / -1;
  grid-row: 1;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */


  /* #172B41 */

  color: #172B41;

}