.wlcm-email__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: clamp(32px, 2.0833vw, 40px); /* 2.0833vw = 40 * 100 / 1920 */

  /* 10.4166vw = 200 * 100 / 1920
     24.1666vw = 464 * 100 / 1920
     6.25vw = 120 * 100 / 1920
   */
  padding: clamp(32px, 10.4166vw, 200px) clamp(32px, 24.1666vw, 464px) clamp(30px, 6.25vw, 120px);
}

@media screen and (width < 1150px) {
  .wlcm-email__content {
    padding-left: clamp(32px, 18.2292vw, 464px); /* 18.2292vw = 350 * 100 / 1920 */
    padding-right: clamp(32px, 18.2292vw, 464px); /* 18.2292vw = 350 * 100 / 1920 */
  }
}

@media screen and (width < 620px) {
  .wlcm-email__content {
    padding-left: clamp(32px, 10.4167vw, 464px); /* 10.4167vw = 200 * 100 / 1920 */
    padding-right: clamp(32px, 10.4167vw, 464px); /* 10.4167vw = 200 * 100 / 1920 */
    gap: 32px;
  }
}

@media screen and (width < 400px) {
  .wlcm-email__content {
    /* 5.2083vw = 100 * 100 / 1920
     5.2083vw = 100 * 100 / 1920
     3.125vw = 60 * 100 / 1920
   */
    padding: clamp(32px, 5.2083vw, 200px) clamp(32px, 5.2083vw, 464px) clamp(30px, 3.125vw, 120px);
    gap: 32px;
  }
}