.wlcm-email__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: clamp(32px, 2.0833vw, 40px); /* 2.0833vw = 40 * 100 / 1920 */

  /* 200px = 120 (половина высоты карточки) + 80 (отступ от карточки до надписи)
     24.1666vw = 464 * 100 / 1920
     6.25vw = 120 * 100 / 1920
   */
  padding: 200px clamp(32px, 24.1666vw, 464px) clamp(30px, 6.25vw, 120px);
}

@media screen and (width <= 1566px) {
  .wlcm-email__content {
    padding-top: 225px; /* 225px = 145 (половина высоты карточки) + 80 (отступ от карточки до надписи) */
  }
}

@media screen and (width <= 1340px) {
  .wlcm-email__content {
    padding-top: 240px; /* 240px = 160 (половина высоты карточки) + 80 (отступ от карточки до надписи) */
  }
}

@media screen and (width < 1150px) {
  .wlcm-email__content {
    padding-left: clamp(32px, 18.2292vw, 464px); /* 18.2292vw = 350 * 100 / 1920 */
    padding-right: clamp(32px, 18.2292vw, 464px); /* 18.2292vw = 350 * 100 / 1920 */
  }
}

@media screen and (width <= 1080px) {
  .wlcm-email__content {
    padding-top: 190px; /* 190px = 110 (половина высоты карточки) + 80 (отступ от карточки до надписи) */
  }
}

@media screen and (width <= 946px) {
  .wlcm-email__content {
    padding-top: clamp(32px, 6.25vw, 120px); /* 6.25vw = 120 * 100 / 1920 */
  }
}

@media screen and (width < 620px) {
  .wlcm-email__content {
    padding-left: clamp(32px, 10.4167vw, 464px); /* 10.4167vw = 200 * 100 / 1920 */
    padding-right: clamp(32px, 10.4167vw, 464px); /* 10.4167vw = 200 * 100 / 1920 */
    gap: 32px;
  }
}

@media screen and (width < 400px) {
  .wlcm-email__content {
    /* 5.2083vw = 100 * 100 / 1920
     5.2083vw = 100 * 100 / 1920
     3.125vw = 60 * 100 / 1920
   */
    padding: clamp(32px, 5.2083vw, 200px) clamp(32px, 5.2083vw, 464px) clamp(30px, 3.125vw, 120px);
    gap: 32px;
  }
}