.link_color_grey {
  color: var(--color-dark-grey);
  transition: color var(--animation-duration) ease;
}

.link_color_grey:hover {
  color: var(--color-blue);
}

.link_color_grey:active {
  color: var(--color-dark-blue);
}
