.link_color_blue {
  color: var(--color-blue);
  transition: color var(--animation-duration) ease;
}

.link_color_blue:hover {
  color: var(--color-turquoise);
}

.link_color_blue:active {
  color: var(--color-dark-blue);
}