.wlcm-write-us__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: clamp(32px, 2.0833vw, 40px); /* 2.0833vw = 40 * 100 / 1920 */

  /* 200px = 120 (половина высоты карточки) + 80 (отступ от карточки до надписи)
     24.1666vw = 464 * 100 / 1920
     6.25vw = 120 * 100 / 1920
   */
  padding: 200px clamp(32px, 24.1666vw, 464px) clamp(30px, 6.25vw, 120px);
}